@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap ');

/*Geral*/
* {
    margin: 0px;
    padding: 0px;
    font-family: "Oswald", arial, sans-serif;
}

body {
    background: black url(../imagens/2107.w026.n002.637B.p1.637.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*Mobile First*/
@media screen and (max-width: 767px) {
    /*1- Header.Menu*/
    header {
        display: flex;
    }

    #menu {
        margin: 10px;
        padding: 5px;

        color: white;
        font-size: 1.5em;
    }

    #menu:hover {
        color: #0062ff;
        cursor: pointer;

        background-color: white;
        border: 1px solid #0062ff;
        border-radius: 5px;
        box-sizing: border-box;
    }

    li {
        display: inline-block;
        width: 65px;

        margin: 10px;
        padding: 5px 10px;

        text-align: center;
        list-style-type: none;

        border: 1px solid white;
        border-radius: 10px;

    }

    li > a {
        text-decoration: none;
        color: white;
    }

    li:hover {
        background-color: white;
        border: 1px solid #0062ff;
        cursor: pointer;
    }

    Li:hover > a {
        color: #0062ff;
    }

    /*Main*/
    main {
        position: relative;
        height: 85vh;
    }

    main > section {
        border: 3px double white;
        border-radius: 15px;
        padding: 15px;
        
        width: 300px;
        height: 400px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: white;
        backdrop-filter: blur(8px);
    }

    section  h1 {
        margin-bottom: 10px;
        text-align: center;
    }

    main p {
        padding: 5px;
        text-align: center;
    }

    #extra {
        display: none;
    }

    form {
        text-align: center;
        margin: 10px;
    }

    .caixas {
        width: 270px;
        height: 40px;
        margin: 10px;

        border: 0px;
        border-radius: 3px 10px;

        text-align: center;
        color: black;

    }

    .caixas::placeholder {
        text-align: center;
        color: rgb(107, 107, 107);
        font-size: 1.2em;
    }

    .botao {
        width: 270px;
        height: 40px;
        margin: 5px 10px;

        border-radius: 10px;
        border: 2px solid black;

        font-size: 1em;
    }

    .botao:active {
        background-color: rgb(208, 250, 144);
    }

    /*Footer*/
    footer {
        background-color: black;
        color: white;
        padding: 15px;
        text-align: center;
    }
}